*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.humberger{
    display: none;
    cursor: pointer;
}
nav{
    top: 0;
    position: sticky;
    z-index: 1001;
    background-color: white;
}
.nav-container{
   
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 20px 40px;
    height: 100px;
    border-bottom: 1px solid gray;
}
.nav-container ul{
    display: flex;
}
.nav-container ul li{
    height: 50px;
    display: flex;
    align-items: center;
}
.nav-container ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.3s;
}
@media screen and (max-width: 800px){
    .nav-container ul li a{
        padding: 10px 15px;
    }
}
.nav-container ul li a:hover{
    color: coral;
    text-decoration: underline;
}

/* Navbar to be made responsive at 640px */
@media screen and (max-width: 640px){
    .nav-container ul{
       display: none;
    }
    .humberger{
        display: block;    
    }
}



/* Small Device Navbar */
#nav1{
    display: none;
    width: 100%;
    padding: 0;
    height: 100vh;
    z-index: 999;
    border-bottom: none;
}
.logo-hum-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    cursor: pointer;
}
.hum-close-btn{
    cursor: pointer;
}
#nav1-links{
    display: block;
}
#nav1-links a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
#nav1-links a:hover{
    color: white;
    background-color: teal;
    background-color: blue;

}

/* Small Device Responsiveness */
@media screen and (max-width: 640px) {
    nav{
        padding: 0;
    }
}
@media screen and (min-width: 640px) {
    #nav1{
        display: none;
    }
}
/* The entire navbar ends and dropdown menu starts */

    /* For large device */
.dropdown{
    position: relative;
}
#dropdown-menu{
    position: absolute;
    width:280px;
    background-color: #f4f4f4;
    z-index: 1000;
    margin-top: 215px;
    display: none;
    padding: 20px 0;
    border-radius: 8px;
    transition: 0.3s;
}
.dropdown:hover #dropdown-menu {
    display: block;
}
@media screen and (max-width: 640px) {
    #dropdown-menu{
        width: 100%;
    }
}
