/* Founder Section */
.founder-section {
    display: flex;
    align-items: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.founder-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.founder-text {
    flex: 1 1 50%;
    padding: 20px;
}

.founder-text h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.founder-text h3 {
    font-size: 1.8em;
    color: blue;
    margin-bottom: 20px;
}

.founder-text p {
    font-size: 1.1em;
    color: #333;
}
.mustak-social-media{
    text-align: center;
    padding: 40px 0;
}
.mustak-social-media a{
    font-size: 25px;
    padding: 10px;
    color: coral;
}
.contact-me-btn{
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    border: 1px solid gray;
    color: black;
    transition: 0.3s;
}
.contact-me-btn:hover{
    background-color: black;
    color: white;
}
.founder-photo {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.founder-photo img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Team Section */
.team-section {
    padding: 50px 20px;
    text-align: center;
}

.team-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 416px;
    padding: 20px;
    text-align: center;
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid green;
    outline: 3px solid coral;
    outline-offset: 3px;
}

.team-member h3 {
    font-size: 1.2em;
    color: black;
}
.team-member h4{
    color: #555;
    font-size: 1.05em;
}

.position, .team-bio {
    font-size: 0.9em;
    color: #635c5c;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .founder-section, .team-section, .recent-blogs {
        padding: 30px 15px;
    }

    .founder-content {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .founder-photo img {
        max-width: 80%;
    }

    .team-container {
        flex-direction: column;
        align-items: center;
    }
}
